@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  height: 100vh;
  width: 100vw;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

html,
body {
  height: 100vh;
}

.custom-box {
  position: relative;
  aspect-ratio: 5/3;
}

.top-left {
  position: absolute;
  top: 3%;
  left: 5%;
}

.top-right {
  position: absolute;
  top: 5%;
  right: 5%;
}

.bottom-center {
  position: absolute;
  bottom: 20%;
  left: 30%;
  transform: translateX(-30%);
}

.bottom-right {
  position: absolute;
  bottom: 3%;
  right: 3%;
}

.section {
  padding-top: 1.5rem; /* Adjust top padding as needed */
}

.container {
  width: 90%;
  margin: 0 auto;
}

.debug {
  background-color: red;
}

.debug2 {
  background-color: green;
}

.valid-popup {
  width: 50%;
}

.emoji-person {
  position: absolute;
  bottom: 10%;
  left: 20%;
  /* font-size: calc(1rem + 5vh); */
}

.horizontal-scrollbar {
  overflow-x: auto;
  white-space: nowrap;
}

.hide-scrollbar {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.my-content {
  position: absolute;
  top: 0px;
  bottom: 60px;
  left: 0px;
  right: 0px;
  overflow: auto;
}

.my-footer {
  position: absolute;
  bottom: 0px;
  height: 50px;
  left: 0px;
  right: 0px;
  margin-top: 10px;
  overflow: hidden;
}
