@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.person_form {
  display: flex;
  width: 90%;
  align-content: center;
}

.person {
  height: 200px;
}

.custom-box {
  position: relative;
  aspect-ratio: 5/3;
}

.top-left {
  position: absolute;
  top: 3%;
  left: 3%;
}

.top-right {
  position: absolute;
  top: 20px;
  right: 20px;
}

.bottom-center {
  position: absolute;
  bottom: 20%;
  left: 30%;
  transform: translateX(-30%);
}

.bottom-right {
  position: absolute;
  bottom: 3%;
  right: 3%;
}
